* {
  font-family: 'Alegreya Sans SC', sans-serif;
}

body {
/* background-attachment: fixed; */
background-repeat: no-repeat;
background-size: cover;
display: flex;
justify-content: center;
/* text-align: center; */
}

.header {
  width: 100%;
}


main {
  width: 100%;
  height: 60%;
  float: left;
}

#index { /*this is the body*/
  background-image: url("../images/hero-dog.png");
}

#dogShow { /*this is the body*/
  background-image: url(../images/background-ipad.png);
  display: block;
  margin-top: -155px;
}

section {
  justify-content: center;
  margin-top: 40%;
  margin-right: 58px;
}

#non-main-logo {
  display: block;
  width: 80%;
  height: 100%;
}

#small-logo{
  width: 44%;
  float: right;
  position: absolute;
  margin-top: -19px;
  margin-left: 205px;
}

#hero-logo {
  width: 100%;
  justify-content: center; 
}

h2 {
  font-family: 'Alegreya Sans SC', sans-serif;
  width: 100%;
  text-align: center;
  font-size: 15px;
  color: rgb(51, 110, 165);
}

#location-input {
  border: 2px solid rgb(51, 110, 165);
  text-align: center;
  width: 80%;
  margin-top: 20%;
  font-size: 15px;
  padding: 7px 0;
  box-shadow: 2px 1px 3px rgb(25,55,82);
}

/* IPAD */
@media (min-width:767px){ 
  #index {
    background-image: url("../images/hero-dog-ipad.png");
  }

  #dogShow { /*this is the body*/
    background-image: url("../images/background-ipad.png");
    display: block;
  }

  #dog-show-header {
    width: 100%;
  }
  
  section {
    margin-top: 20%;
    justify-content: center;
    /* margin-top: 40%; */
    margin-right: 58px;
  }
  
  #location-input {
    margin-top: 20%;
    margin-left: 38px;
    font-size: 25px;
  }

  h2 {
    font-size: 30px;
  }
  
  #small-logo{
    width: 20%;
  }
  #dogShow { /*this is the body*/
    background-image: url(../images/background-ipad.png);
    display: block;
    margin-top: -155px;
  }
  
  #non-main-logo {
    display: block;
    width: 80%;
    height: 100%;
  }
  
  #small-logo{
    width: 31%;
    float: right;
    position: absolute;
    margin-top: -42px;
    margin-left: 518px;
  }
}


