/* ======================== Start of Hamburger ========================= */
/* #search-button{
  display: none;
} */

a {
  text-decoration: none;
  transition: color 0.3s ease;
  color: whitesmoke;
}
.menu-options {
  color: white;
}
.menu-options:hover {
  color:  rgb(82, 4, 4, 0.692);
}
#menuToggle {
  display: block;
  position: relative;
  top: 25px;
  margin-left: 25px;
  z-index: 99;
  -webkit-user-select: none;
  user-select: none;
  margin-top: -167px;
}
#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 100; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
/*Just a quick hamburger*/
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: rgb(51, 110, 165);
  border-radius: 3px;
  z-index: 99;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
#menuToggle span:first-child {
  transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
/* Transform all the slices of hamburger into a crossmark.*/
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: whitesmoke;
}
/*But let's hide the middle one.*/
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
/* Ohyeah and the last one should go the other direction*/
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}
/*Make this absolute positioned at the top left of the screen*/
#menu {
  position: absolute;
  width: 95px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  background: #cd661d;
  list-style-type: none;
  -webkit-font-smoothing: antialiased; /* to stop flickering of text in safari */
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu .menu-li {
  padding: 10px 0px 0px 0px;
  font-size: 22px;
  background-color: #cd661d;
  border: none;
  font-family: 'Alegreya Sans SC', sans-serif;
}
/* And let's slide it in from the left*/
#menuToggle input:checked ~ ul {
  transform: none;
}

#menuToggle-index {
  display: block;
  position: relative;
  top: 25px;
  margin-left: 25px;
  z-index: 99;
  -webkit-user-select: none;
  user-select: none;
  margin-top: -5px;
}
#menuToggle-index input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 100; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}
/*Just a quick hamburger*/
#menuToggle-index span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: rgb(51, 110, 165);
  border-radius: 3px;
  z-index: 99;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}
#menuToggle-index span:first-child {
  transform-origin: 0% 0%;
}
#menuToggle-index span:nth-last-child(2) {
  transform-origin: 0% 100%;
}
/* Transform all the slices of hamburger into a crossmark.*/
#menuToggle-index input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: whitesmoke;
}
/*But let's hide the middle one.*/
#menuToggle-index input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}
/* Ohyeah and the last one should go the other direction*/
#menuToggle-index input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/* And let's slide it in from the left*/
#menuToggle-index input:checked ~ ul {
  transform: none;
}

/* ======================== End of Hamburger ========================= */
@media (min-width:767px){ 
  /* #search-button{
    display: none;
  } */
  
  a {
    text-decoration: none;
    transition: color 0.3s ease;
    color: whitesmoke;
  }
  .menu-options {
    color: white;
  }
  .menu-options:hover {
    color:  rgb(82, 4, 4, 0.692);
  }
  #menuToggle {
    display: block;
    position: relative;
    top: 25px;
    margin-left: 25px;
    z-index: 99;
    -webkit-user-select: none;
    user-select: none;
    margin-top: 167px;
  }
  
  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 100; /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }
  /*Just a quick hamburger*/
  #menuToggle span {
    display: block;
    width: 56px;
    height: 6px;
    margin-bottom: 9px;
    position: relative;
    background: rgb(51, 110, 165);
    border-radius: 3px;
    z-index: 99;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
                
  }
  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }
  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  /* Transform all the slices of hamburger into a crossmark.*/
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: whitesmoke;
  }
  /*But let's hide the middle one.*/
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  /* Ohyeah and the last one should go the other direction*/
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  /*Make this absolute positioned at the top left of the screen*/
  #menu {
    position: absolute;
    width: 95px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background: #cd661d;
    list-style-type: none;
    -webkit-font-smoothing: antialiased; /* to stop flickering of text in safari */
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  #menu .menu-li {
    padding: 10px 0px 0px 0px;
    font-size: 22px;
    background-color: #cd661d;
    border: none;
    font-family: 'Alegreya Sans SC', sans-serif;
  }
  /* And let's slide it in from the left*/
  #menuToggle input:checked ~ ul {
    transform: none;
  }

  #menuToggle-index {
    display: block;
    position: relative;
    top: 25px;
    margin-left: 25px;
    z-index: 99;
    -webkit-user-select: none;
    user-select: none;
    margin-top: -5px;
  }
  
  #menuToggle-index input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0; /* hide this */
    z-index: 100; /* and place it over the hamburger */
    -webkit-touch-callout: none;
  }
  /*Just a quick hamburger*/
  #menuToggle-index span {
    display: block;
    width: 56px;
    height: 6px;
    margin-bottom: 9px;
    position: relative;
    background: rgb(51, 110, 165);
    border-radius: 3px;
    z-index: 99;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
                
  }
  #menuToggle-index span:first-child {
    transform-origin: 0% 0%;
  }
  #menuToggle-index span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  /* Transform all the slices of hamburger into a crossmark.*/
  #menuToggle-index input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: whitesmoke;
  }
  /*But let's hide the middle one.*/
  #menuToggle-index input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  /* Ohyeah and the last one should go the other direction*/
  #menuToggle-index input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  /*Make this absolute positioned at the top left of the screen*/
  
  /* And let's slide it in from the left*/
  #menuToggle-index input:checked ~ ul {
    transform: none;
  }
}