<!DOCTYPE html>
<html lang="en">
<head>
  <%-include ../../layout/head%>
  <title>Find Your Friend</title>
</head>
<body>
  <header>
    <%-include ../../layout/nav%>
  </header>
  <main>
    <h1>HELLO!!</h1>
  </main>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="/js/app.js"></script>
</html>