<!DOCTYPE html>
<html lang="en">

<head>
  <%-include ../layout/head%>
    <title>About Our Team</title>
</head>

<body id="listShow" id="about">
  <header id="dog-show-header" class="header">
    <section id="non-main-logo">
      <%-include ../layout/nav%>
        <img id="small-logo" src="images/woofer-logo.png" alt="Woofer Logo">
    </section>
  </header>
  <main>

    <div id="wooflist-banner">
      <h2>The Developers</h2>
    </div>

    <article>
      <ul>
        <li class="woof-list-dog">
          <div class="wooflist-image-div">
            <img class="woof-list-img" src="images/connor-dog.png">
          </div>
          <img class="available">
          <section class="list-section">
            <section class="wooflist-p">
              <p>Name: Connor Sihon</p>
              <p>Age: 154 (in dog years)</p>
              <p>Breed: Golden Retriever</p>
            </section>
            <section class="options">
              <span class="fa-layers hasShots">
                <i class="fas fa-syringe"></i>
              </span>
              <span class="fa-layers housetrained">
                <i class="fas fa-toilet"></i>
              </span>
              <span class="fa-layers noCats">
                <i class="fas fa-cat"></i>
                <i class="fa-inverse fas fa-ban"></i>
              </span>
              <span class="fa-layers fa-fw noKids">
                <i class="fas fa-baby"></i>
                <i class="fa-inverse fas fa-ban"></i>
              </span>
            </section>
        <section class="forms-section">

          <p class="user-description">Description</p>

        </section>

          </section>
        </li>
        <li class="woof-list-dog">
          <div class="wooflist-image-div">
            <img class="woof-list-img" src="images/erin-dog.png">
          </div>
          <img class="available">
          <section class="list-section">
            <section class="wooflist-p">
              <p>Name: Erin Trainor</p>
              <p>Age: 224 (in dog years)</p>
              <p>Breed: Dachshund</p>
            </section>
            <section class="options">
              <span class="fa-layers hasShots">
                <i class="fas fa-syringe"></i>
              </span>
              <span class="fa-layers housetrained">
                <i class="fas fa-toilet"></i>
              </span>
              <span class="fa-layers noCats">
                <i class="fas fa-cat"></i>
                <i class="fa-inverse fas fa-ban"></i>
              </span>
              <span class="fa-layers fa-fw noKids">
                <i class="fas fa-baby"></i>
                <i class="fa-inverse fas fa-ban"></i>
              </span>
            </section>
            <section class="forms-section">

              <p class="user-description">Description</p>

            </section>

          </section>
        </li>
        <li class="woof-list-dog">
          <div class="wooflist-image-div">
            <img class="woof-list-img" src="images/nicole-dog.png">
          </div>
          <img class="available">
          <section class="list-section">
            <section class="wooflist-p">
              <p>Name: Nicole Kalbfleisch</p>
              <p>Age: 154 (in dog years)</p>
              <p>Breed: Husky</p>
            </section>
            <section class="options">
              <span class="fa-layers hasShots">
                <i class="fas fa-syringe"></i>
              </span>
              <span class="fa-layers housetrained">
                <i class="fas fa-toilet"></i>
              </span>
              <span class="fa-layers fa-fw noKids">
                <i class="fas fa-baby"></i>
                <i class="fa-inverse fas fa-ban"></i>
              </span>
            </section>
            <section class="forms-section">

              <p class="user-description">Description</p>

            </section>

          </section>
        </li>
        <li class="woof-list-dog" id="richard">
          <div class="wooflist-image-div">
            <img class="woof-list-img" src="images/richard-dog.png">
          </div>
          <img class="available">
          <section class="list-section">
            <section class="wooflist-p">
              <p>Name: Richard Bellamy </p>
              <p>Age: 210 (in dog years)</p>
              <p>Breed: Mix</p>
            </section>
            <section class="options">
              <span class="fa-layers hasShots">
                <i class="fas fa-syringe"></i>
              </span>
              <span class="fa-layers housetrained">
                <i class="fas fa-toilet"></i>
              </span>
            </section>
            <section class="forms-section">

              <p class="user-description">Description</p>

            </section>

          </section>
        </li>
      </ul>
    </article>
    <div id="key-container ">
        <ul id ="option-key">
          <li class"key-item">
            <span class="fa-layers altered">
              <i class="fas fa-cut"></i>
            </span>
            Spayed/Neutered
          </li>
          <li class"key-item">
            <span class="fa-layers hasShots">
              <i class="fas fa-syringe"></i>
            </span>
            Has Shots
          </li>
          <li class"key-item">
            <span class="fa-layers housetrained">
              <i class="fas fa-toilet"></i>
            </span>
            House Trained
          </li>
          <li class"key-item">
            <span class="fa-layers noCats">
              <i class="fas fa-cat"></i>
              <i class="fa-inverse fas fa-ban"></i>
            </span>
            No Cats
          </li>
          <li class"key-item">
            <span class="fa-layers fa-fw noKids">
              <i class="fas fa-baby"></i>
              <i class="fa-inverse fas fa-ban"></i>
            </span>
            No Kids
          </li>
      </ul>
      </div>
  </main>
</body>

</html>