<!DOCTYPE html>
<html lang="en">

<head>
  <%-include ../layout/head%>
    <title>About Our Team</title>
</head>

<body id="listShow" class="about">
  <header id="dog-show-header" class="header about-us-header">
    <section id="non-main-logo" class="about-us-logo">
      <%-include ../layout/nav%>
        <img id="small-logo" class="about-us-logo" src="images/woofer-logo.png" alt="Woofer Logo">
    </section>
  </header>
  <main>

    <div class="about-us-banner">
      <h2>The Developers</h2>
    </div>

    <article>
      <ul>
        <li class="about-us-dog">
          <div class="about-us-image-div">
            <img class="about-us-img" src="images/connor-dog.png">
          </div>
          <img class="available">
          <section class="about-us-list-section">
            <section class="about-us-p">
              <p>Name: Connor Sihon</p>
              <p>Age: 154 (in dog years)</p>
              <p>Breed: Golden Retriever</p>
            </section>
            <section class="options">
              <span class="fa-layers hasShots">
                <i class="fas fa-syringe"></i>
              </span>
              <span class="fa-layers housetrained">
                <i class="fas fa-toilet"></i>
              </span>
              <span class="fa-layers noCats">
                <i class="fas fa-cat"></i>
                <i class="fa-inverse fas fa-ban"></i>
              </span>
              <span class="fa-layers fa-fw noKids">
                <i class="fas fa-baby"></i>
                <i class="fa-inverse fas fa-ban"></i>
              </span>
            </section>
            <section class="forms-section">

              <!-- <p>Play Dead sit nap lazy dog wet nose Tigger run fast fish lazy cat wagging hamster toy field yawn feathers ferret yawn aquarium.</p> -->

            </section>

          </section>
        </li>
        <li class="about-us-dog">
          <div class="about-us-image-div">
            <img class="woof-list-img" src="images/erin-dog.png">
          </div>
          <img class="available">
          <section class="about-us-list-section">
            <section class="about-us-p">
              <p>Name: Erin Trainor</p>
              <p>Age: 224 (in dog years)</p>
              <p>Breed: Dachshund</p>
            </section>
            <section class="options">
              <span class="fa-layers hasShots">
                <i class="fas fa-syringe"></i>
              </span>
              <span class="fa-layers housetrained">
                <i class="fas fa-toilet"></i>
              </span>
              <span class="fa-layers noCats">
                <i class="fas fa-cat"></i>
                <i class="fa-inverse fas fa-ban"></i>
              </span>
              <span class="fa-layers fa-fw noKids">
                <i class="fas fa-baby"></i>
                <i class="fa-inverse fas fa-ban"></i>
              </span>
            </section>
            <section class="forms-section">

              <!-- <p>Play Dead sit nap lazy dog wet nose Tigger run fast fish lazy cat wagging hamster toy field yawn feathers ferret yawn aquarium.</p> -->

            </section>

          </section>
        </li>
        <li class="about-us-dog">
          <div class="about-us-image-div">
            <img class="woof-list-img" src="images/nicole-dog.png">
          </div>
          <img class="available">
          <section class="about-us-list-section">
            <section class="about-us-p">
              <p>Name: Nicole Kalbfleisch</p>
              <p>Age: 154 (in dog years)</p>
              <p>Breed: Husky</p>
            </section>
            <section class="options">
              <span class="fa-layers hasShots">
                <i class="fas fa-syringe"></i>
              </span>
              <span class="fa-layers housetrained">
                <i class="fas fa-toilet"></i>
              </span>
              <span class="fa-layers fa-fw noKids">
                <i class="fas fa-baby"></i>
                <i class="fa-inverse fas fa-ban"></i>
              </span>
            </section>
            <section class="forms-section">

              <!-- <p>Play Dead sit nap lazy dog wet nose Tigger run fast fish lazy cat wagging hamster toy field yawn feathers ferret yawn aquarium.</p> -->

            </section>

          </section>
        </li>
        <li class="about-us-dog" id="richard">
          <div class="about-us-image-div">
            <img class="woof-list-img" src="images/richard-dog.png">
          </div>
          <img class="available">
          <section class="about-us-list-section">
            <section class="about-us-p">
              <p>Name: Richard Bellamy </p>
              <p>Age: 210 (in dog years)</p>
              <p>Breed: Mix</p>
            </section>
            <section class="options">
              <span class="fa-layers hasShots">
                <i class="fas fa-syringe"></i>
              </span>
              <span class="fa-layers housetrained">
                <i class="fas fa-toilet"></i>
              </span>
            </section>
            <section class="forms-section">

              <!-- <p>Play Dead sit nap lazy dog wet nose Tigger run fast fish lazy cat wagging hamster toy field yawn feathers ferret yawn aquarium.</p> -->

            </section>

          </section>
        </li>
      </ul>
    </article>
    <%-include ../layout/footer%>
  </main>
</body>

</html>