<div id="key-container ">
  <ul id ="option-key">
    <li class"key-item">
      <span class="fa-layers altered">
        <i class="fas fa-cut"></i>
      </span>
      Spayed/Neutered
    </li>
    <li class"key-item">
      <span class="fa-layers hasShots">
        <i class="fas fa-syringe"></i>
      </span>
      Has Shots
    </li>
    <li class"key-item">
      <span class="fa-layers housetrained">
        <i class="fas fa-toilet"></i>
      </span>
      House Trained
    </li>
    <li class"key-item">
      <span class="fa-layers noCats">
        <i class="fas fa-cat"></i>
        <i class="fa-inverse fas fa-ban"></i>
      </span>
      No Cats
    </li>
    <li class"key-item">
      <span class="fa-layers fa-fw noKids">
        <i class="fas fa-baby"></i>
        <i class="fa-inverse fas fa-ban"></i>
      </span>
      No Kids
    </li>
  </ul>
</div>