<nav role="navigation">
  <div id="menuToggle">
    <input type="checkbox" />
      <span></span>
      <span></span>
      <span></span>
    <ul id="menu"> <!--Need to fix this later... remove Search Results-->
      <a href="/"><li class="menu-li">Search</li></a>
      <a><li id = "wooflist" class="menu-li">WoofList</li></a>
      <a href="/about-the-team"><li class="menu-li">About</li></a>
    </ul>
  </div>
</nav>