<!DOCTYPE html>
<html lang="en">

<head>
  <%-include ../../layout/head%>
    <title>Dog Information</title>
    <meta name="format-detection" content="telephone=no">
</head>

<body id="dogDetail">
  <header id="dog-show-header" class="header">
    <section id="non-main-logo">
      <%-include ../../layout/nav%>
        <img id="small-logo" src="images/woofer-logo.png" alt="Woofer Logo">
    </section>
  </header>
  <main id="dogDetail-main">
    <div class="dogDetail-main-div">
      <div class="dogDetail-name-div">
        <h2 class="dogDetail-heading">All About DOG NAME</h2>
      </div>
      <div class="dogDetail-all-dog-info">
        <div class="dogDetail-img-div">
          <img src="images/nicole-dog.png" alt="Picture of DOG!!" class="dogDetail-img">
        </div>
        <div class="dogDetail-info-div">
          <ul class="dogDetail-info-ul">
            <li>Age: 2000 YRS OLD</li>
            <li>Gender: UNKNOWN</li>
            <li>Size: GINOURMOUS</li>
            <li>Breed: DRAGON</li>
            <li>Mix: YES</li>
          </ul>
          <section class="options dogDetail-options">
              <span class="fa-layers altered">
                <i class="fas fa-cut"></i>
              </span>
              <span class="fa-layers hasShots">
                <i class="fas fa-syringe"></i>
              </span>
              <span class="fa-layers housetrained">
                <i class="fas fa-toilet"></i>
              </span>
              <span class="fa-layers noCats">
                <i class="fas fa-cat"></i>
                <i class="fa-inverse fas fa-ban"></i>
              </span>
              <span class="fa-layers fa-fw noKids">
                <i class="fas fa-baby"></i>
                <i class="fa-inverse fas fa-ban"></i>
              </span>
            </section>
        </div>
      </div>
      <div class="dogDetail-description">
        <p>Biography: Abjuration augmented subtype blown away compulsion fortitude save melee attack roll natural armor bonus negative energy paralyzed rune domain standard action subject subschool threat range turn turning damage. Blindsense command undead critical roll difficulty class drow domain enchantment lawful pattern subschool rake regeneration rogue scribe sonic attack unarmed strike. Barbarian chaotic subtype checked direct a spell falling objects fighter improved grab lawful light weapon living construct subtype nonplayer character range penalty reflex save result spell-like ability summoning subschool swarm subtype tanar'ri subtype threatened square. Abjuration augmented subtype blown away compulsion fortitude save melee attack roll natural armor bonus negative energy paralyzed rune domain standard action subject subschool threat range turn turning damage. Blindsense command undead critical roll difficulty class drow domain enchantment lawful pattern subschool rake regeneration rogue scribe sonic attack unarmed strike. Barbarian chaotic subtype checked direct a spell falling objects fighter improved grab lawful light weapon living construct subtype nonplayer character range penalty reflex save result spell-like ability summoning subschool swarm subtype tanar'ri subtype threatened square. Abjuration augmented subtype blown away compulsion fortitude save melee attack roll natural armor bonus negative energy paralyzed rune domain standard action subject subschool threat range turn turning damage. Blindsense command undead critical roll difficulty class drow domain enchantment lawful pattern subschool rake regeneration rogue scribe sonic attack unarmed strike. Barbarian chaotic subtype checked direct a spell falling objects fighter improved grab lawful light weapon living construct subtype nonplayer character range penalty reflex save result spell-like ability summoning subschool swarm subtype tanar'ri subtype threatened square. 
        </p>
      </div>
      <div>
        <div class="shelter-name-div">
          <h2 class="dogDetail-heading">Rescue Organization</h2>
        </div>
        <ul class="shelter-info">
          <li>Name: DRAGONS R US</li>
          <li class="shelter-sub-info">Phone: <a class="a-tag" href="tel:+1 (555) 555-5555">(555) 555-5555</a></li>
          <li class="shelter-sub-info">Location: NEVERLAND, UK 98765</li>
          <li>Email: <a class="a-tag"href="mailto:DRAGONS_R_US@DRAGONRESCUEUK.COM?subject=Adoption Inquiry about DOG NAME">DRAGONS_R_US@DRAGONRESCUEUK.COM</a></li>
        </ul>
      </div>
    </div>
  </main>
  <footer id="dogDetail-footer">
      <%-include ../../layout/footer%>
  </footer>
</body>

</html>


<a href="tel:+"></a>